<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controllers.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdentityController</servlet-name>
        <servlet-class>controllers.IdentityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageController</servlet-name>
        <servlet-class>controllers.ImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoverTypeController</servlet-name>
        <servlet-class>controllers.CoverTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookController</servlet-name>
        <servlet-class>controllers.BookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controllers.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controllers.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controllers.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdentityController</servlet-name>
        <url-pattern>/identity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageController</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoverTypeController</servlet-name>
        <url-pattern>/covertype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookController</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    
    <!-- added for automatic redirect from HTTP to HTTPS -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Entire Application</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>